*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

header{
    width: 100vw;
    justify-content: space-between;
    position: fixed;
    padding: 15px 45px;
    z-index: 1;
    height: 10vh;
}

select{
    outline: none;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px gray solid;
}

input{
    outline: none;
    padding: 8px 10px;
    border-radius: 10px;
    border: 1px gray solid;
}


.table {
    padding: 30px;
    width: 70%;
    border-radius: 4px;
    margin-top: 0px;
    box-shadow: 0 2px 10px rgba(0, 67, 115, 0.2);
}

.table-cell {
    padding: 10px 20px;
}
  
.table-container{
    padding: 120px 30px 30px 30px;
}




@media (max-width:780px){
    nav a{
        font-size: 13px;
    }
}
