header{
    background-color: rgba(124, 124, 124, 0.679);
}

.white-text{
    color:whitesmoke;
}

body{
    background-color:#eaeae7 ;
}

.red-text{
    color: rgb(148, 0, 0);
}

.card{
    background-color: rgba(199, 162, 234, 0.601);
}