header{
    background-color: rgba(124, 124, 124, 0.679);
}

.white-text{
    color:whitesmoke;
}

body{
    background-color:#eaeae7 ;
}

.table{
    background-color: rgba(199, 162, 234, 0.601);
}

.table-head {
    background-color:#eaeae7;
}