a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

section{
    min-height: 50vh;
}

.display-none{
    display: none;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.border-radius{
    border-radius: 20px;
}

.gap{
    gap: 10px;
}

.h-full{
    height: 100vh;
}

.w-full{
    width: 100vw;
}


@media (max-width:768px){

    .h1-size{
    font-size: 30px;
    }
}